.product-table {
  width: 95%;
  margin: 30px auto;
  border-collapse: collapse;
  background: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

.product-table th {
  background: #f1f5f9;
  padding: 14px;
  font-weight: 600;
  color: #1e293b;
}

.product-table td {
  padding: 14px;
  text-align: center;
  border-bottom: 1px solid #e5e7eb;
}

.product-table tr:hover {
  background: #f9fafb;
}

.product-table img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 8px;
}


.edit-btn{
 
  padding: 6px 14px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.edit-btn:hover {
  background: #1d4ed8;
  transform: scale(1.05);
}


